/* ---- BODY & CANVAS ---- */
body {
  margin: 0;
  overflow: hidden;
  font-family: Garamond, serif;
  background: #666666;
}

/* Canvas particelle */
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

/* ---- TITLE ---- */
.title {
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
  font-size: 48px;
  color: #ffffff;
  z-index: 1;

}

/* ---- SUBTITLE ---- */
.subtitle {
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-style: italic; 
  color: #ffffff;
  z-index: 1;

}



