/* ---- BODY & CANVAS ---- */
body {
  margin: 0;
  overflow: hidden;
  font-family: Garamond, serif;
  background: white;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; /* dietro il testo */
}

/* ---- TITLE ---- */
.title {
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
  font-size: 48px;
  color: black;
  z-index: 1;
  pointer-events: none;
}

/* ---- SUBTITLE ---- */
.subtitle {
  position: absolute;
  top: 28%;
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: black;
  z-index: 1;
  pointer-events: none;
}
