/* ---- BODY & CANVAS ---- */
body {
  margin: 0;
  overflow: hidden;
  font-family: Garamond, serif;
  background: white;
}

/* Canvas particelle */
#canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  display: block;
}

/* ---- TITLE ---- */
.title {
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
  font-size: 48px;
  color: black;
  z-index: 1;
  pointer-events: none;
}

/* ---- SUBTITLE ---- */
.subtitle {
  position: absolute;
  top: 28%;
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: black;
  z-index: 1;
  pointer-events: none;
}


/* Canvas vetro opaco */
#glass {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  pointer-events: none; /* permette di cliccare sul canvas sottostante */
}
