/* ---- BODY & CANVAS ---- */
body {
  margin: 0;
  overflow: hidden;
  font-family: Garamond, serif;
  background: #6e6e70;
}

/* Canvas particelle */
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

/* ---- TITLE ---- */
.title {
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
  font-size: 48px;
  color: #ffffff;
  z-index: 1;
  pointer-events: none;
}

/* ---- SUBTITLE ---- */
.subtitle {
  position: absolute;
  top: 23%;
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: #ffffff;
  z-index: 1;
  pointer-events: none;
}



